# Training dataset with different models

Training the final_data5.csv with different models and checking out their accuracies.

In [161]:
import pandas as pd
import numpy as np
import sidetable
d1 = pd.read_csv("final_data5.csv")
d1

,gender,tenth_marks,pu_marks,pu_stream,deg_marks,deg_stream,workex,status
0,M,58.0,70.00,Commerce,61.00,Comm&Mgmt,No,Not Placed
1,M,58.0,61.00,Commerce,60.00,Comm&Mgmt,Yes,Placed
2,M,69.6,68.40,Commerce,78.30,Comm&Mgmt,Yes,Placed
3,F,47.0,55.00,Science,65.00,Comm&Mgmt,No,Not Placed
4,F,77.0,87.00,Commerce,59.00,Comm&Mgmt,No,Placed
...,...,...,...,...,...,...,...,...
327,M,81.1,78.60,Arts,35.84,Sci&Tech,No,Not Placed
328,M,81.3,85.12,Arts,68.50,Sci&Tech,No,Not Placed
329,M,83.5,89.90,Science,76.30,Sci&Tech,No,Not Placed
330,M,85.5,90.63,Science,74.50,Sci&Tech,No,Not Placed
331,M,80.0,83.33,Science,65.53,Sci&Tech,No,Not Placed

In [162]:
d1.select_dtypes('object')

    gender pu_stream deg_stream workex      status
0        M  Commerce  Comm&Mgmt     No  Not Placed
1        M  Commerce  Comm&Mgmt    Yes      Placed
2        M  Commerce  Comm&Mgmt    Yes      Placed
3        F   Science  Comm&Mgmt     No  Not Placed
4        F  Commerce  Comm&Mgmt     No      Placed
..     ...       ...        ...    ...         ...
327      M      Arts   Sci&Tech     No  Not Placed
328      M      Arts   Sci&Tech     No  Not Placed
329      M   Science   Sci&Tech     No  Not Placed
330      M   Science   Sci&Tech     No  Not Placed
331      M   Science   Sci&Tech     No  Not Placed

[332 rows x 5 columns]

In [163]:
d1['gender'].unique()

array(['M', 'F'], dtype=object)

In [164]:
d1['pu_stream'].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [165]:

d1['deg_stream'].unique()

array(['Comm&Mgmt', 'Sci&Tech', 'Others'], dtype=object)

In [166]:
d1['workex'].unique()

array(['No', 'Yes'], dtype=object)

In [167]:
d1['status'].unique()

array(['Not Placed', 'Placed'], dtype=object)

In [168]:
d1.stb.freq(['gender','pu_stream'])

  gender pu_stream  count    percent  cumulative_count  cumulative_percent
0      M   Science    108  32.530120               108           32.530120
1      M  Commerce     90  27.108434               198           59.638554
2      F   Science     69  20.783133               267           80.421687
3      F  Commerce     50  15.060241               317           95.481928
4      M      Arts      9   2.710843               326           98.192771
5      F      Arts      6   1.807229               332          100.000000

In [169]:
obj_columns = [x for x in d1.select_dtypes('object').columns]
obj_columns

['gender', 'pu_stream', 'deg_stream', 'workex', 'status']

In [170]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [171]:
for col in obj_columns:
    d1[col] = le.fit_transform(d1[col])
    
d1

,gender,tenth_marks,pu_marks,pu_stream,deg_marks,deg_stream,workex,status
0,1,58.0,70.00,1,61.00,0,0,0
1,1,58.0,61.00,1,60.00,0,1,1
2,1,69.6,68.40,1,78.30,0,1,1
3,0,47.0,55.00,2,65.00,0,0,0
4,0,77.0,87.00,1,59.00,0,0,1
...,...,...,...,...,...,...,...,...
327,1,81.1,78.60,0,35.84,2,0,0
328,1,81.3,85.12,0,68.50,2,0,0
329,1,83.5,89.90,2,76.30,2,0,0
330,1,85.5,90.63,2,74.50,2,0,0
331,1,80.0,83.33,2,65.53,2,0,0

# 1. Logistic Regression (Linear)

In [172]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression(max_iter=100)
from sklearn.model_selection import train_test_split
X = d1.drop('status', axis='columns')
y = d1['status']

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=10)

In [174]:
lr_model.fit(X_train,y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [175]:
y_pred = lr_model.predict(X_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.7962264150943397

In [176]:
y_pred = lr_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.8059701492537313

# 2. SVM (Linear)

In [177]:
from sklearn.svm import LinearSVC
lsvc = LinearSVC()
lsvc.fit(X_train,y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [178]:
y_pred = lsvc.predict(X_train)
accuracy_score(y_train, y_pred)

0.4490566037735849

In [179]:
y_pred = lsvc.predict(X_test)
accuracy_score(y_test, y_pred)

0.3880597014925373

## 3. KNN (Non-linear)

In [180]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()
knn_model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [181]:
y_pred = knn_model.predict(X_train)
accuracy_score(y_train, y_pred)

0.8415094339622642

In [182]:
y_pred = knn_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.746268656716418

## 4. Kernel SVM (Non-linear)

In [183]:
from sklearn.svm import SVC
svc_model = SVC(gamma='auto')
svc_model.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [184]:
y_pred = svc_model.predict(X_train)
accuracy_score(y_train, y_pred)

0.9849056603773585

In [185]:
y_pred = svc_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7313432835820896

## 5. Naive Bayes (Non-linear)

In [186]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [187]:
y_pred = gnb.predict(X_train)
accuracy_score(y_train, y_pred)

0.8188679245283019

In [188]:
y_pred = gnb.predict(X_test)
accuracy_score(y_test, y_pred)

0.7313432835820896

## 6. Decision Tree Classification (Non-linear)

In [189]:
from sklearn.tree import DecisionTreeClassifier
dtr = DecisionTreeClassifier()
dtr.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [190]:
y_pred = dtr.predict(X_train)
accuracy_score(y_train, y_pred)

1.0

In [191]:
y_pred = dtr.predict(X_test)
accuracy_score(y_test, y_pred)

0.835820895522388

## 7. Random Forest Classification (Non-linear)

In [192]:
from sklearn.ensemble import RandomForestClassifier
rf =  RandomForestClassifier(random_state=10,n_estimators=100)
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [193]:
y_pred = rf.predict(X_train)
accuracy_score(y_train, y_pred)

1.0

In [194]:
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.7761194029850746